<ion-header>
  <ion-toolbar>
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon color="light" name="scan-circle-outline" routerLink="/payement"></ion-icon>
   
</ion-content>
