<ion-header>
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas">
    <!-- <ion-icon color="primary" name="scan-circle-outline" routerLink="/scanner"></ion-icon> -->
    <ion-button shape="round" expand="block" routerLink="/scanner"> scanner qrcode</ion-button>
  </div>
</ion-content>
