<ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form">
      <div class="contact-icon">
       
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
      </div>
      <ion-item>
        <ion-label color="light">Email</ion-label>
        <ion-input type="email" placeholder="adress mail" [(ngModel)]= "email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input type="password" placeholder="mot de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="light" fill="clear" slot="end">mot de passe oublie?</ion-button>
      </ion-item>
    </div>
    
    <ion-button shape="round" expand="block" routerLink="/map"> valide</ion-button>  
</ion-content>
