<ion-header>
  <ion-toolbar>
    <ion-title>payement</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
  
    <div class="form">
     
      <ion-item>
        <ion-label color="light">Nom</ion-label>
        <ion-input type="text" placeholder="Nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">numero de carte</ion-label>
        <ion-input type="number" placeholder="numero de carte"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">date d'expiration</ion-label>
        <ion-input type="date" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">crypto</ion-label>
        <ion-input type="number" placeholder="crypto"></ion-input>
      </ion-item>
    
    </div>
    
    <ion-button shape="round" expand="block"> valide</ion-button>  

</ion-content>

