<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <p>some menu content, could be list items</p>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">

  <div class="form1">
    <div class="contact-icon">
      <img src="../../assets/image/logo2.png" alt="">
      <!-- <ion-icon color="light" name="person-circle-outline"></ion-icon> -->
    </div>
   
    
  </div>
  <!-- (click)="login()" -->
  <ion-button  fill="outline" shape="round" expand="block" routerLink="/login"> Connexion</ion-button>
  <ion-button shape="round" expand="block" routerLink="/register"> Inscription</ion-button>
 
</ion-content>
