// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {linear-gradient(#ffffff, #f12711)
//   text-decoration: none;
// }

ion-content {
  --ion-background-color:linear-gradient(#ffffff,#ffffff ,#6FE9EA );
}
ion-button{
  margin: 20px;
  --ion-background-color:#7F6FEA  ;
}

.form1{
  padding: 5%;
}
.contact-icon{
  height: 300px
}

.contact-icon img{
  position: absolute;
  width: 50%;
  top:33%;
  left:50%;
  transform: translate(-50%, -50%);
}