ion-content {
    --ion-background-color: linear-gradient(#29A7E6, #7F6FEA,#6FE9EA);
}
ion-title{
    text-align: center;
}
ion-item{
    --ion-background-color: transparent !important;
}
ion-button{
    margin: 20px;
  }
.form{
    padding: 5%;
}
.contact-icon{
    height: 300px
}

.contact-icon ion-icon{
    position: absolute;
    font-size: 12em;
    top:28%;
    left:50%;
    transform: translate(-50%, -50%);
}