<ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="form">
      <div class="contact-icon">
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
      </div>
      <ion-item>
        <ion-label color="light">Nom</ion-label>
        <ion-input type="email" placeholder="adress mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Prenom</ion-label>
        <ion-input type="email" placeholder="adress mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Email</ion-label>
        <ion-input type="email" placeholder="adress mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input type="password" placeholder="mot de passe"></ion-input>
      </ion-item>
    
    </div>
    
    <ion-button shape="round" expand="block"> valide</ion-button>  

</ion-content>
